@import "tailwindcss";

@theme {
  --color-primary: #137FEC;
  --color-text-main: #0F172A;
  --color-text-muted: #64748B;
  --color-border-main: #E2E8F0;
  --color-bg-subtle: #F8FAFC;
  --color-bg-highlight: #F1F5F9;
  --color-bg-code: #0B1220;
}